/* 渐隐渐现页面动画效果 */
.opacity-transform-leave-active,
.opacity-transform-enter-active {
    transition: all 0.5s;
}
.opacity-transform-enter-from {
    opacity: 0;
}
.opacity-transform-leave-to {
    opacity: 0;
}

/* logo显示/隐藏动画效果 */
.logo-enter-active,
.logo-leave-active {
    transition: all 0.5s;
}
.logo-enter-from,
.logo-leave-active {
    opacity: 0;
    transform: translateY(-100%);
}
.logo-move {
    transition: all 0.5s;
}