/*
 * Copyright 2024, Hongyou Software Development Studio.
 */
/********************************************************************************
 * 全局应用CSS样式
 *
 * @author Berlin
 *******************************************************************************/
:root {
  --menu-width: 200px;
  --tab-menu-width: 245px;
}
html,
body,
#app {
  height: 100vh;
  font-family: -apple-system,
  BlinkMacSystemFont,
  segoe ui,
  Roboto,
  helvetica neue,
  Arial,
  noto sans,
  sans-serif,
  apple color emoji,
  segoe ui emoji,
  segoe ui symbol,
  noto color emoji;
}
* {
  box-sizing: border-box;
}

td .n-button + .n-button {
  margin-left: 10px;
}

.n-card {
  border-radius: 10px;
}
