/*
 * Copyright 2024, Hongyou Software Development Studio.
 */
/********************************************************************************
 * 全局应用CSS样式
 *
 * @author Berlin
 *******************************************************************************/
:root {
  --menu-width: 200px;
  --min-menu-width: 65px;
  --tab-menu-width: 245px;
  --tab-split-menu-width: 65px;
  --logo-height: 65px;
  --tab-height: 45px;
  --bottom-option-height: 110px;
  --top-option-height: 100px
}
html,
body,
#app {
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system,
  BlinkMacSystemFont,
  segoe ui,
  Roboto,
  helvetica neue,
  Arial,
  noto sans,
  sans-serif,
  apple color emoji,
  segoe ui emoji,
  segoe ui symbol,
  noto color emoji;

  .n-card {
    .n-card-header {
      padding: 10px 20px 10px 20px;
    }
  }
  .n-card-tab {
    .n-card__content {
      padding-top: 5px;
    }
  }
  .n-tabs .n-tabs-nav {
    z-index: 0;
  }
}
* {
  box-sizing: border-box;
}

td .n-button + .n-button {
  margin-left: 10px;
}
