/*
 * Copyright 2024, Hongyou Software Development Studio.
 */
/********************************************************************************
 * 全局应用SASS变量定义
 *
 * @author Berlin
 *******************************************************************************/
$menuWidth: var(--menu-width);
$minMenuWidth: 65px;
$tabSplitMenuWidth: 65px;
$logoHeight: 48px;
$transitionTime: 0.3s ease;
$tabHeight: 40px;
$footerHeight: 45px;