@font-face {
    font-family: "iconfont"; /* Project id 4755836 */
    src: url('//at.alicdn.com/t/c/font_4755836_bv4imcuboda.woff2?t=1732516948302') format('woff2'),
    url('//at.alicdn.com/t/c/font_4755836_bv4imcuboda.woff?t=1732516948302') format('woff'),
    url('//at.alicdn.com/t/c/font_4755836_bv4imcuboda.ttf?t=1732516948302') format('truetype');
}

.iconfont {
    font-family: "iconfont", serif !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-expand:before {
    content: "\e67c";
}

.icon-menu:before {
    content: "\e7f4";
}

.icon-edit:before {
    content: "\e7e1";
}

.icon-appstore:before {
    content: "\f184";
}

.icon-file-text:before {
    content: "\e664";
}

.icon-setting:before {
    content: "\e78e";
}

.icon-Partition:before {
    content: "\e90e";
}

.icon-location:before {
    content: "\e790";
}

.icon-detail:before {
    content: "\e793";
}

.icon-interation:before {
    content: "\e7a7";
}

.icon-file-unknown:before {
    content: "\e7b9";
}

.icon-dashboard:before {
    content: "\e78b";
}
