@font-face {
  font-family: "iconfont"; /* Project id 4755836 */
  src: url('iconfont.woff2?t=1743693243777') format('woff2'),
       url('iconfont.woff?t=1743693243777') format('woff'),
       url('iconfont.ttf?t=1743693243777') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-supplier:before {
  content: "\e67a";
}

.icon-basic:before {
  content: "\eb25";
}

.icon-log:before {
  content: "\e615";
}

.icon-reset-pwd:before {
  content: "\e620";
}

.icon-company:before {
  content: "\e624";
}

.icon-frozen-user:before {
  content: "\e95e";
}

.icon-unfrozen-user:before {
  content: "\e95f";
}

.icon-user:before {
  content: "\e65c";
}

.icon-role:before {
  content: "\e787";
}

.icon-permission:before {
  content: "\e6e9";
}

.icon-system:before {
  content: "\e643";
}

.icon-upload:before {
  content: "\e75d";
}

.icon-csv:before {
  content: "\e6af";
}

.icon-delete:before {
  content: "\e64f";
}

.icon-add:before {
  content: "\e67b";
}

.icon-expand:before {
  content: "\e689";
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-edit:before {
  content: "\e7e1";
}

